# FastAPI
asyncio
fastapi

# Jupyter Notebook
ipykernel

# Web
uvicorn

# Frontend
jinja2
python-multipart

# Database
sqlalchemy

# Миграции
alembic

# Установка асинхронного драйвера
asyncpg
greenlet

# Pydantic
pydantic[email]

# Хэширование
passlib
bcrypt==4.0.1